{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Daily Automation</title>
		<meta chatset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="main.css" rel="stylesheet">
		<link rel="icon" type="image/png" href="favicon.png">
		<script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="teammates" hx-include="* .selected *" hx-vals='js:{numberSelected:document.getElementsByClassName("selected").length }'>
	{{ range .Teammates }}
		<div
			id="teammate-{{ .DashedId }}"
			class="teammate{{ if eq .Name $.SelectedName }} selected{{ end }}
				{{ if and (eq "teammate" $.ActivatedBy) (eq .Name $.SelectedName) }} activated{{ end }}"
			>
		{{ if eq .Name $.SelectedName }}
				<form
					id="selectedTeammate"
					hx-target="body"
					hx-get="/"
					>
					<div>
						<label for="name">Name: </label>
						<input
							name="name"
							type="text"
							value="{{ .Name }}"
							{{ if eq "name" $.ActivatedBy }}autofocus{{ end }}
							readonly
						/>
					</div>
					<div>
						<label for="done">The day before: </label>
						<input
							name="done"
							type="text"
							value="{{ .Done }}"
							placeholder="{{ template "DefaultDoneText" }}"
							{{ if eq "done" $.ActivatedBy }}autofocus{{ end }}
							hx-get="/?selectedName={{ .Name }}&activatedBy=done"
							hx-target="body"
							hx-trigger="keyup changed delay:3s"
							hx-sync="this:queue last"
							{{ template "HxValsFocusedStats" }}
						/>
					</div>
					<div>
						<label for="willDo">Today: </label>
						<input
							name="willDo"
							type="text"
							value="{{ .WillDo }}"
							placeholder="{{ template "DefaultWillDoText" }}"
							{{ if eq "willDo" $.ActivatedBy }}autofocus{{ end }}
							hx-get="/?selectedName={{ .Name }}&activatedBy=willDo"
							hx-target="body"
							hx-trigger="keyup changed delay:3s"
							hx-sync="this:queue last"
							{{ template "HxValsFocusedStats" }}
						/>
					</div>
					<div>
						<label for="blockers">Blockers: </label>
						<input
							name="blockers"
							type="text"
							value="{{ .Blockers }}"
							placeholder="{{ template "DefaultBlockersText" }}"
							{{ if eq "blockers" $.ActivatedBy }}autofocus{{ end }}
							hx-get="/?selectedName={{ .Name }}&activatedBy=blockers"
							hx-target="body"
							hx-trigger="keyup changed delay:3s"
							hx-sync="this:queue last"
							{{ template "HxValsFocusedStats" }}
						/>
					</div>
					<div>
						<label for="generalRemarks">In general: </label>
						<input
							name="generalRemarks"
							type="text"
							value="{{ .GeneralRemarks }}"
							placeholder="{{ template "DefaultGeneralRemarksText" }}"
							{{ if eq "generalRemarks" $.ActivatedBy }}autofocus{{ end }}
							hx-get="/?selectedName={{ .Name }}&activatedBy=generalRemarks"
							hx-target="body"
							hx-trigger="keyup changed delay:3s"
							hx-sync="this:queue last"
							{{ template "HxValsFocusedStats" }}
						/>
					</div>
					<!--<button type="submit">Save & Reload</button>-->
				</form>
		{{ else }}
				<div
					class="name"
					hx-get="/?selectedName={{ .Name }}&activatedBy=name"
					hx-swap="innerHTML"
					hx-target="body"
					><span class="question">Name: </span><span class="response">{{ .Name }}</span></div>
				<div
					class="done"
					hx-get="/?selectedName={{ .Name }}&activatedBy=done"
					hx-swap="innerHTML"
					hx-target="body"
					><span class="question">The day before: </span>
					{{- if .Done -}}<span class="response">{{ .Done }}</span>
					{{ else }}<span class="defaultResponse">{{ template "DefaultDoneText" }}</span>
					{{ end }}</div>
				<div class="willDo"
					hx-get="/?selectedName={{ .Name }}&activatedBy=willDo"
					hx-swap="innerHTML"
					hx-target="body"
					><span class="question">Today: </span>
					{{- if .WillDo -}}<span class="response">{{ .WillDo }}</span>
					{{ else }}<span class="defaultResponse">{{ template "DefaultWillDoText" }}</span>
					{{ end }}</div>
				<div class="blockers"
					hx-get="/?selectedName={{ .Name }}&activatedBy=blockers"
					hx-swap="innerHTML"
					hx-target="body"
					><span>Blockers: </span>
					{{- if .Blockers -}}<span class="response">{{ .Blockers }}</span>
					{{ else }}<span class="defaultResponse">{{ template "DefaultBlockersText" }}</span>
					{{ end }}</div>
				<div class="generalRemarks"
					hx-get="/?selectedName={{ .Name }}&activatedBy=generalRemarks"
					hx-swap="innerHTML"
					hx-target="body"
					><span>In general: </span>
					{{- if .GeneralRemarks -}}<span class="response">{{ .GeneralRemarks }}</span>
					{{ else }}<span class="defaultResponse">{{ template "DefaultGeneralRemarksText" }}</span>
					{{ end }}</div>
		{{ end }}
		</div>
	{{ end }}
	</div>
	<hr />
<script>
document.addEventListener("DOMContentLoaded", (event) => {
	document.body.addEventListener('htmx:beforeSwap', function(evt) {
		// console.log("event cought");
		if (evt.detail.xhr.status === 422) {
			// console.log("tis 422");
			evt.detail.shouldSwap = true;
			evt.detail.isError = false;
		}
	});
})
</script>
		{{ template "FocusMore" .Focus }}
	</body>
</html>
{{ end }}

{{ define "DefaultDoneText" }}Content and team-related information that could be interesting for others.{{ end }}
{{ define "DefaultWillDoText" }}Ticket/Content related.{{ end }}
{{ define "DefaultBlockersText" }}Does anything disturbs your current work?{{ end }}
{{ define "DefaultGeneralRemarksText" }}Any PTO planned? Any absences? Are you not feeling well?{{ end }}

{{ define "HxValsFocusedStats" }}
hx-vals='js:{selName:document.activeElement.hasAttribute("name")?document.activeElement.getAttribute("name"):"",selStart:document.activeElement.selectionStart,selStop:document.activeElement.selectionEnd}'
{{ end }}

{{ define "FocusMore" }}
{{ if .FocusedElement }}
<script>
document.querySelector('input[name="{{ .FocusedElement }}"]').focus();
document.querySelector('input[name="{{ .FocusedElement }}"]').setSelectionRange({{ .SelectionStart }}, {{ .SelectionStop }});
</script>
{{ end }}
{{ end }}
